BPUService/WebContent/wsdl/Custom.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://java.main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://java.main" xmlns:intf="http://java.main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://java.main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="add">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BPUServiceImpl">
      <wsdl:operation name="add">
         <wsdl:input message="impl:addRequest" name="addRequest" />
         <wsdl:output message="impl:addResponse" name="addResponse" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="BPUServiceImplSoapBinding" type="impl:BPUServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BPUServiceImplService">

      <wsdl:port binding="impl:BPUServiceImplSoapBinding" name="BPUServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/BPUService/services/BPUServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
